In [1]:
!pip install wget
import wget
import zipfile
wget.download('https://raw.githubusercontent.com/Call-for-Code/Spot-Challenge-Wildfires/main/data/Nov_10.zip', 'Nov_10.zip')
zip_handle = zipfile.ZipFile("Nov_10.zip")
zip_handle.extractall()
import pandas as pd
import numpy as np

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp37-none-any.whl size=9681 sha256=3efcde8e29aa15faac3ce9448046613970a2924c648ca0886a582b4cd645ba5a
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [3]:

file_weather_forcasts = "/content/Nov_10/HistoricalWeatherForecasts.csv"
print("Reading file: '{}'".format(file_weather_forcasts))
df_forcasts = pd.read_csv(file_weather_forcasts)
print("Loaded...")

# First Five rows
df_forcasts.head()

Reading file: '/content/Nov_10/HistoricalWeatherForecasts.csv'
Loaded...

         Date Region         Parameter  ...      max()     mean()  variance()
0  2014-01-01    NSW  RelativeHumidity  ...  85.021118  28.223569  353.620815
1  2014-01-01    NSW    SolarRadiation  ...  33.557598  31.647308    2.276068
2  2014-01-01    NSW       Temperature  ...  36.929035  30.893523   17.918553
3  2014-01-01    NSW         WindSpeed  ...   6.989559   3.958822    1.334834
4  2014-01-01     NT  RelativeHumidity  ...  73.601479  39.799856  189.805002

[5 rows x 9 columns]

In [4]:
# Checking data types of each columns
df_forcasts.dtypes

Date                    object
Region                  object
Parameter               object
Lead time                int64
count()[unit: km^2]    float64
min()                  float64
max()                  float64
mean()                 float64
variance()             float64
dtype: object

In [5]:
# Converting "Date" column to date type
df_forcasts['Date'] = pd.to_datetime(df_forcasts['Date'])
print("Minimum Date: {}".format(df_forcasts['Date'].min()))
print("Maximum Date: {}".format(df_forcasts['Date'].max()))
df_forcasts.head()

Minimum Date: 2014-01-01 00:00:00
Maximum Date: 2020-10-31 00:00:00

        Date Region         Parameter  ...      max()     mean()  variance()
0 2014-01-01    NSW  RelativeHumidity  ...  85.021118  28.223569  353.620815
1 2014-01-01    NSW    SolarRadiation  ...  33.557598  31.647308    2.276068
2 2014-01-01    NSW       Temperature  ...  36.929035  30.893523   17.918553
3 2014-01-01    NSW         WindSpeed  ...   6.989559   3.958822    1.334834
4 2014-01-01     NT  RelativeHumidity  ...  73.601479  39.799856  189.805002

[5 rows x 9 columns]

In [12]:

num_rows, num_cols = df_forcasts.shape
print("There are total {} records in the following {} columns:\n".format(num_rows, num_cols))
print("\n".join(list(df_forcasts.columns)))

There are total 217212 records in the following 9 columns:

Date
Region
Parameter
Lead time
area
min_forcast
max_forcast
mean_forcast
2nd_moment_forcast

In [13]:
# Let rename columns names
df_forcasts.columns = ['Date', 'Region', 'Parameter', 'Lead time', 'area', 'min_forcast', 'max_forcast', 'mean_forcast', '2nd_moment_forcast']
df_forcasts.head()
df_forcasts.isna().sum()

Date                  0
Region                0
Parameter             0
Lead time             0
area                  0
min_forcast           0
max_forcast           0
mean_forcast          0
2nd_moment_forcast    0
dtype: int64

In [7]:
region = df_forcasts['Region'].unique()
num_regions = region.shape[0]
all_regions = "\n".join(region.tolist())
print("Following are {} unique regions in Historical Weather Forcasts data:\n\n{}".format(num_regions, all_regions))

Following are 7 unique regions in Historical Weather Forcasts data:

NSW
NT
QL
SA
TA
VI
WA