In [3]:
!pip install wget
import wget
import zipfile
wget.download('https://raw.githubusercontent.com/Call-for-Code/Spot-Challenge-Wildfires/main/data/Nov_10.zip', 'Nov_10.zip')
zip_handle = zipfile.ZipFile("Nov_10.zip")
zip_handle.extractall()
import pandas as pd
import numpy as np

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

In [5]:
file_vegetation = "/content/Nov_10/VegetationIndex.csv"

df_vegetarian = pd.read_csv(file_vegetation)
print("Loaded...")

df_vegetarian.head()

Loaded...

  Region      Date  ...  Vegetation_index_std  Vegetation_index_variance
0    NSW  1/1/2005  ...              0.204862                   0.041968
1    NSW  2/1/2005  ...              0.208673                   0.043544
2    NSW  3/1/2005  ...              0.209450                   0.043869
3    NSW  4/1/2005  ...              0.207307                   0.042976
4    NSW  5/1/2005  ...              0.202858                   0.041151

[5 rows x 7 columns]

In [6]:
# Checking data types of each columns
df_vegetarian.dtypes

Region                        object
Date                          object
Vegetation_index_mean        float64
Vegetation_index_max         float64
Vegetation_index_min         float64
Vegetation_index_std         float64
Vegetation_index_variance    float64
dtype: object

In [7]:
df_vegetarian['Date'] = pd.to_datetime(df_vegetarian['Date'])
print("Minimum Date: {}".format(df_vegetarian['Date'].min()))
print("Maximum Date: {}".format(df_vegetarian['Date'].max()))

Minimum Date: 2005-01-01 00:00:00
Maximum Date: 2020-10-01 00:00:00

In [8]:
num_rows, num_cols = df_vegetarian.shape
print("There are total {} records in the following {} columns:\n".format(num_rows, num_cols))
print("\n".join(list(df_vegetarian.columns)))

There are total 1330 records in the following 7 columns:

Region
Date
Vegetation_index_mean
Vegetation_index_max
Vegetation_index_min
Vegetation_index_std
Vegetation_index_variance

In [9]:
df_vegetarian.isna().sum()

Region                       0
Date                         0
Vegetation_index_mean        0
Vegetation_index_max         0
Vegetation_index_min         0
Vegetation_index_std         0
Vegetation_index_variance    0
dtype: int64

In [10]:
num_rows, num_cols = df_vegetarian.shape
print("There are total {} records.\n".format(num_rows, num_cols))
df_vegetarian.head()

There are total 1330 records.

  Region       Date  ...  Vegetation_index_std  Vegetation_index_variance
0    NSW 2005-01-01  ...              0.204862                   0.041968
1    NSW 2005-02-01  ...              0.208673                   0.043544
2    NSW 2005-03-01  ...              0.209450                   0.043869
3    NSW 2005-04-01  ...              0.207307                   0.042976
4    NSW 2005-05-01  ...              0.202858                   0.041151

[5 rows x 7 columns]