In [3]:
!pip install wget
import wget
import zipfile
wget.download('https://raw.githubusercontent.com/Call-for-Code/Spot-Challenge-Wildfires/main/data/Nov_10.zip', 'Nov_10.zip')
zip_handle = zipfile.ZipFile("Nov_10.zip")
zip_handle.extractall()
import pandas as pd
import numpy as np
file_weather = "/content/Nov_10/HistoricalWeather.csv"
print("Reading file: '{}'".format(file_weather))
df_weather = pd.read_csv(file_weather)
print("Loaded...")

df_weather.head()

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)
Reading file: '/content/Nov_10/HistoricalWeather.csv'
Loaded...

         Date Region         Parameter  ...      max()     mean()  variance()
0  2005-01-01    NSW     Precipitation  ...   1.836935   0.044274    0.028362
1  2005-01-01    NSW  RelativeHumidity  ...  80.522964  36.355567  253.559937
2  2005-01-01    NSW  SoilWaterContent  ...   0.414305   0.170931    0.007758
3  2005-01-01    NSW    SolarRadiation  ...  32.169781  26.749389    6.078587
4  2005-01-01    NSW       Temperature  ...  35.878704  27.341182   18.562212

[5 rows x 8 columns]

In [4]:

num_rows, num_cols = df_weather.shape
print("There are total {} records in the following {} columns:\n".format(num_rows, num_cols))
print("\n".join(list(df_weather.columns)))

There are total 242781 records in the following 8 columns:

Date
Region
Parameter
count()[unit: km^2]
min()
max()
mean()
variance()

In [5]:

# Let rename columns names
df_weather.columns = ['Date', 'Region', 'Parameter', 'area', 'min', 'max', 'mean', '2nd_moment']
df_weather.head()
# Checking data types of each columns
df_weather.dtypes

# Converting "Date" column to date type
df_weather['Date'] = pd.to_datetime(df_weather['Date'])
print("Minimum Date: {}".format(df_weather['Date'].min()))
print("Maximum Date: {}".format(df_weather['Date'].max()))
df_weather.isna().sum()
df_weather.head(5)

Minimum Date: 2005-01-01 00:00:00
Maximum Date: 2020-10-31 00:00:00

        Date Region         Parameter  ...        max       mean  2nd_moment
0 2005-01-01    NSW     Precipitation  ...   1.836935   0.044274    0.028362
1 2005-01-01    NSW  RelativeHumidity  ...  80.522964  36.355567  253.559937
2 2005-01-01    NSW  SoilWaterContent  ...   0.414305   0.170931    0.007758
3 2005-01-01    NSW    SolarRadiation  ...  32.169781  26.749389    6.078587
4 2005-01-01    NSW       Temperature  ...  35.878704  27.341182   18.562212

[5 rows x 8 columns]

In [6]:
df_pivot = df_weather.pivot_table(values=['min','max','mean','2nd_moment'], index=['Date','Region', 'area'], columns=['Parameter'])
df_pivot

                                  2nd_moment  ...       min
Parameter                      Precipitation  ... WindSpeed
Date       Region area                        ...
2005-01-01 NSW    8.002343e+05      0.028362  ...  1.354448
           NT     1.357561e+06    546.059262  ...  1.840394
           QL     1.730605e+06     35.641257  ...  1.106028
           SA     9.913151e+05      0.042837  ...  2.023657
           TA     6.778526e+04     12.068597  ...  1.995647
...                                      ...  ...       ...
2020-10-31 QL     1.730605e+06      4.229566  ...  1.180556
           SA     9.913151e+05      0.000492  ...  2.062619
           TA     6.778526e+04      0.243603  ...  1.300771
           VI     2.294532e+05      3.148454  ...  1.783996
           WA     2.528546e+06      2.097161  ...  1.704024

[40481 rows x 24 columns]

In [7]:

# Reset dataframe index
df_pivot.reset_index(inplace=True)
df_pivot.head()

                Date Region          area  ...            min
Parameter                                  ... SolarRadiation Temperature WindSpeed
0         2005-01-01    NSW  8.002343e+05  ...      14.515009   14.485785  1.354448
1         2005-01-01     NT  1.357561e+06  ...       2.518120   24.179960  1.840394
2         2005-01-01     QL  1.730605e+06  ...       6.033827   20.951620  1.106028
3         2005-01-01     SA  9.913151e+05  ...      17.861103   14.095855  2.023657
4         2005-01-01     TA  6.778526e+04  ...      20.742302    6.686816  1.995647

[5 rows x 27 columns]

In [8]:
# Renaming Column names
df_pivot.columns = [col[0] if not(col[1]) else '{1}_{0}'.format(*col) for col in df_pivot.columns.values]
df_pivot.head()

        Date Region  ...  Temperature_min  WindSpeed_min
0 2005-01-01    NSW  ...        14.485785       1.354448
1 2005-01-01     NT  ...        24.179960       1.840394
2 2005-01-01     QL  ...        20.951620       1.106028
3 2005-01-01     SA  ...        14.095855       2.023657
4 2005-01-01     TA  ...         6.686816       1.995647

[5 rows x 27 columns]

In [9]:

# Rearranging Data and column
params = df_pivot.columns.tolist()[3:]
params.sort()
weather_data = df_pivot[df_pivot.columns.tolist()[:3] + params].copy()
weather_data.head()

        Date Region          area  ...  WindSpeed_max  WindSpeed_mean  WindSpeed_min
0 2005-01-01    NSW  8.002343e+05  ...       7.670482        3.323550       1.354448
1 2005-01-01     NT  1.357561e+06  ...       9.704402        5.296892       1.840394
2 2005-01-01     QL  1.730605e+06  ...       7.675632        3.483753       1.106028
3 2005-01-01     SA  9.913151e+05  ...      10.044715        4.657538       2.023657
4 2005-01-01     TA  6.778526e+04  ...      11.432408        5.408138       1.995647

[5 rows x 27 columns]

In [10]:
num_rows, num_cols = weather_data.shape
print("There are total {} records in the following {} columns:\n".format(num_rows, num_cols))
print("\n".join(list(weather_data.columns)))

There are total 40481 records in the following 27 columns:

Date
Region
area
Precipitation_2nd_moment
Precipitation_max
Precipitation_mean
Precipitation_min
RelativeHumidity_2nd_moment
RelativeHumidity_max
RelativeHumidity_mean
RelativeHumidity_min
SoilWaterContent_2nd_moment
SoilWaterContent_max
SoilWaterContent_mean
SoilWaterContent_min
SolarRadiation_2nd_moment
SolarRadiation_max
SolarRadiation_mean
SolarRadiation_min
Temperature_2nd_moment
Temperature_max
Temperature_mean
Temperature_min
WindSpeed_2nd_moment
WindSpeed_max
WindSpeed_mean
WindSpeed_min

In [11]:
region = weather_data['Region'].unique()
num_regions = region.shape[0]
all_regions = "\n".join(region.tolist())
print("Following are {} unique regions in Historical Weather Data:\n\n{}".format(num_regions, all_regions))

Following are 7 unique regions in Historical Weather Data:

NSW
NT
QL
SA
TA
VI
WA

In [12]:
weather_data.isna().sum()

Date                            0
Region                          0
area                            0
Precipitation_2nd_moment        7
Precipitation_max               7
Precipitation_mean              7
Precipitation_min               7
RelativeHumidity_2nd_moment    42
RelativeHumidity_max           42
RelativeHumidity_mean          42
RelativeHumidity_min           42
SoilWaterContent_2nd_moment     0
SoilWaterContent_max            0
SoilWaterContent_mean           0
SoilWaterContent_min            0
SolarRadiation_2nd_moment      14
SolarRadiation_max             14
SolarRadiation_mean            14
SolarRadiation_min             14
Temperature_2nd_moment         14
Temperature_max                14
Temperature_mean               14
Temperature_min                14
WindSpeed_2nd_moment           28
WindSpeed_max                  28
WindSpeed_mean                 28
WindSpeed_min                  28
dtype: int64

In [13]:

weather_data.loc[weather_data['Precipitation_mean'].isna(), :]

            Date Region  ...  WindSpeed_mean  WindSpeed_min
36995 2019-06-22    NSW  ...        2.914745       1.048711
36996 2019-06-22     NT  ...        4.616783       2.790959
36997 2019-06-22     QL  ...        3.428681       1.280596
36998 2019-06-22     SA  ...        3.424624       1.245013
36999 2019-06-22     TA  ...        1.771625       0.696300
37000 2019-06-22     VI  ...        2.101499       0.802938
37001 2019-06-22     WA  ...        4.775665       2.197379

[7 rows x 27 columns]

In [14]:
df_weather.loc[df_weather['Date'] == "2019-06-22", :]

             Date Region         Parameter  ...        max       mean  2nd_moment
221893 2019-06-22    NSW  RelativeHumidity  ...  91.814453  68.422677  114.312088
221894 2019-06-22    NSW  SoilWaterContent  ...   0.412930   0.206911    0.008979
221895 2019-06-22    NSW    SolarRadiation  ...  14.121369  11.564692    2.390587
221896 2019-06-22    NSW       Temperature  ...  13.923991   6.138674    4.957193
221897 2019-06-22    NSW         WindSpeed  ...   9.339998   2.914745    0.670847
221898 2019-06-22     NT  RelativeHumidity  ...  74.113892  30.802208  125.066021
221899 2019-06-22     NT  SoilWaterContent  ...   0.264075   0.067087    0.003592
221900 2019-06-22     NT    SolarRadiation  ...  20.044704  17.438541    2.493807
221901 2019-06-22     NT       Temperature  ...  25.157646  14.323231   17.841910
221902 2019-06-22     NT         WindSpeed  ...   9.785229   4.616783    0.821780
221903 2019-06-22     QL  RelativeHumidity  ...  83.852173  46.585385  136.242906
221904 2019-06-22     QL  SoilWaterContent  ...   0.407056   0.145537    0.004564
221905 2019-06-22     QL    SolarRadiation  ...  18.989447  16.071312    2.541980
221906 2019-06-22     QL       Temperature  ...  25.403965  11.880667   22.149479
221907 2019-06-22     QL         WindSpeed  ...   9.982671   3.428681    1.266645
221908 2019-06-22     SA  RelativeHumidity  ...  90.240486  50.957245  189.151252
221909 2019-06-22     SA  SoilWaterContent  ...   0.442534   0.085350    0.006496
221910 2019-06-22     SA    SolarRadiation  ...  14.702800  12.181231    2.518352
221911 2019-06-22     SA       Temperature  ...  13.625819   8.601456    2.724242
221912 2019-06-22     SA         WindSpeed  ...   8.605908   3.424624    1.113020
221913 2019-06-22     TA  RelativeHumidity  ...  97.402702  86.778359   38.487720
221914 2019-06-22     TA  SoilWaterContent  ...   0.388888   0.287726    0.008860
221915 2019-06-22     TA    SolarRadiation  ...   8.307443   5.854250    1.139942
221916 2019-06-22     TA       Temperature  ...  11.469337   4.574910    6.325362
221917 2019-06-22     TA         WindSpeed  ...   6.195638   1.771625    0.857406
221918 2019-06-22     VI  RelativeHumidity  ...  96.209885  84.582572   41.199200
221919 2019-06-22     VI  SoilWaterContent  ...   0.469960   0.319544    0.006050
221920 2019-06-22     VI    SolarRadiation  ...  10.392207   7.781152    1.509120
221921 2019-06-22     VI       Temperature  ...  11.801810   5.001564    3.685770
221922 2019-06-22     VI         WindSpeed  ...   6.246301   2.101499    0.361891
221923 2019-06-22     WA  RelativeHumidity  ...  98.127876  39.120916  467.014533
221924 2019-06-22     WA  SoilWaterContent  ...   0.369130   0.074549    0.004804
221925 2019-06-22     WA    SolarRadiation  ...  19.167070  11.886737   13.936414
221926 2019-06-22     WA       Temperature  ...  24.897877  18.152780    6.561743
221927 2019-06-22     WA         WindSpeed  ...   8.518429   4.775665    1.324167

[35 rows x 8 columns]

In [15]:
weather_data.loc[weather_data['Temperature_mean'].isna(), :]

            Date Region  ...  WindSpeed_mean  WindSpeed_min
10493 2009-02-08    NSW  ...        3.861615       1.108891
10494 2009-02-08     NT  ...        4.139762       0.988920
10495 2009-02-08     QL  ...        3.688307       0.638895
10496 2009-02-08     SA  ...        6.878877       1.923652
10497 2009-02-08     TA  ...        4.759034       2.525351
10498 2009-02-08     VI  ...        5.007785       2.073939
10499 2009-02-08     WA  ...        6.069578       2.050614
34419 2018-06-19    NSW  ...        2.797399       1.053749
34420 2018-06-19     NT  ...        3.272381       1.700933
34421 2018-06-19     QL  ...        3.401858       1.166037
34422 2018-06-19     SA  ...        3.004946       0.984949
34423 2018-06-19     TA  ...        2.610433       0.538815
34424 2018-06-19     VI  ...        2.316004       1.237826
34425 2018-06-19     WA  ...        3.703516       1.115860

[14 rows x 27 columns]

In [16]:
df_weather.loc[df_weather['Date'] == "2009-02-08", :]

            Date Region         Parameter  ...         max       mean  2nd_moment
62951 2009-02-08    NSW     Precipitation  ...    3.443802   0.096440    0.111808
62952 2009-02-08    NSW  SoilWaterContent  ...    0.383857   0.149632    0.004283
62953 2009-02-08    NSW    SolarRadiation  ...   31.312689  28.499942    4.225705
62954 2009-02-08    NSW         WindSpeed  ...    9.101792   3.861615    3.195680
62955 2009-02-08     NT     Precipitation  ...   80.331871   7.512906  120.248699
62956 2009-02-08     NT  SoilWaterContent  ...    0.494226   0.178735    0.025239
62957 2009-02-08     NT    SolarRadiation  ...   30.037846  21.338024   40.175295
62958 2009-02-08     NT         WindSpeed  ...   10.320077   4.139762    3.405661
62959 2009-02-08     QL     Precipitation  ...  176.865433   9.807672  279.584007
62960 2009-02-08     QL  SoilWaterContent  ...    0.512477   0.253117    0.020698
62961 2009-02-08     QL    SolarRadiation  ...   30.783705  19.476571   96.336519
62962 2009-02-08     QL         WindSpeed  ...    8.917587   3.688307    1.510411
62963 2009-02-08     SA     Precipitation  ...    1.049786   0.015489    0.005040
62964 2009-02-08     SA  SoilWaterContent  ...    0.256353   0.060546    0.001751
62965 2009-02-08     SA    SolarRadiation  ...   30.332903  27.299430   10.573555
62966 2009-02-08     SA         WindSpeed  ...   11.238954   6.878877    2.527251
62967 2009-02-08     TA     Precipitation  ...    6.913176   1.033623    1.719551
62968 2009-02-08     TA  SoilWaterContent  ...    0.364187   0.229636    0.008394
62969 2009-02-08     TA    SolarRadiation  ...   26.911438  21.995847    6.214274
62970 2009-02-08     TA         WindSpeed  ...   10.531963   4.759034    2.148888
62971 2009-02-08     VI     Precipitation  ...    5.414611   0.361654    0.502153
62972 2009-02-08     VI  SoilWaterContent  ...    0.327845   0.171679    0.003085
62973 2009-02-08     VI    SolarRadiation  ...   29.266239  24.609960    7.812433
62974 2009-02-08     VI         WindSpeed  ...    9.120632   5.007785    1.588085
62975 2009-02-08     WA     Precipitation  ...   22.894337   0.710461    4.710052
62976 2009-02-08     WA  SoilWaterContent  ...    0.477876   0.080486    0.006034
62977 2009-02-08     WA    SolarRadiation  ...   30.657774  26.453286    9.805221
62978 2009-02-08     WA         WindSpeed  ...   10.121881   6.069578    3.458938

[28 rows x 8 columns]

In [17]:
df_weather.loc[df_weather['Date'] == "2018-06-19", :]

             Date Region         Parameter  ...        max       mean  2nd_moment
206458 2018-06-19    NSW     Precipitation  ...  28.754610   0.347647    2.780286
206459 2018-06-19    NSW  SoilWaterContent  ...   0.417228   0.213582    0.010501
206460 2018-06-19    NSW    SolarRadiation  ...  13.556427  10.198048    5.565272
206461 2018-06-19    NSW         WindSpeed  ...   9.898138   2.797399    1.183612
206462 2018-06-19     NT     Precipitation  ...   1.732284   0.001350    0.000539
206463 2018-06-19     NT  SoilWaterContent  ...   0.282540   0.067721    0.003760
206464 2018-06-19     NT    SolarRadiation  ...  19.234465  17.050411    1.936097
206465 2018-06-19     NT         WindSpeed  ...   9.185046   3.272381    0.452138
206466 2018-06-19     QL     Precipitation  ...   2.666157   0.010751    0.011031
206467 2018-06-19     QL  SoilWaterContent  ...   0.367845   0.132323    0.004210
206468 2018-06-19     QL    SolarRadiation  ...  19.215368  16.228667    3.343518
206469 2018-06-19     QL         WindSpeed  ...  11.241320   3.401858    0.713732
206470 2018-06-19     SA     Precipitation  ...   8.953135   0.783627    2.659250
206471 2018-06-19     SA  SoilWaterContent  ...   0.460092   0.094051    0.006477
206472 2018-06-19     SA    SolarRadiation  ...  14.557941   9.205824   10.442554
206473 2018-06-19     SA         WindSpeed  ...   8.164105   3.004946    0.874541
206474 2018-06-19     TA     Precipitation  ...   1.108830   0.052225    0.019208
206475 2018-06-19     TA  SoilWaterContent  ...   0.391972   0.292926    0.009393
206476 2018-06-19     TA    SolarRadiation  ...   7.349454   6.595320    0.253610
206477 2018-06-19     TA         WindSpeed  ...   8.422768   2.610433    2.059339
206478 2018-06-19     VI     Precipitation  ...   3.243635   0.070975    0.109241
206479 2018-06-19     VI  SoilWaterContent  ...   0.464654   0.328054    0.005894
206480 2018-06-19     VI    SolarRadiation  ...  10.132601   8.292782    1.307302
206481 2018-06-19     VI         WindSpeed  ...   6.651026   2.316004    0.646547
206482 2018-06-19     WA     Precipitation  ...   6.116549   0.218917    0.575247
206483 2018-06-19     WA  SoilWaterContent  ...   0.350896   0.111437    0.007163
206484 2018-06-19     WA    SolarRadiation  ...  18.767883  11.695733   15.904377
206485 2018-06-19     WA         WindSpeed  ...   9.204654   3.703516    0.980005

[28 rows x 8 columns]

In [18]:
weather_data.isna().sum()

Date                            0
Region                          0
area                            0
Precipitation_2nd_moment        7
Precipitation_max               7
Precipitation_mean              7
Precipitation_min               7
RelativeHumidity_2nd_moment    42
RelativeHumidity_max           42
RelativeHumidity_mean          42
RelativeHumidity_min           42
SoilWaterContent_2nd_moment     0
SoilWaterContent_max            0
SoilWaterContent_mean           0
SoilWaterContent_min            0
SolarRadiation_2nd_moment      14
SolarRadiation_max             14
SolarRadiation_mean            14
SolarRadiation_min             14
Temperature_2nd_moment         14
Temperature_max                14
Temperature_mean               14
Temperature_min                14
WindSpeed_2nd_moment           28
WindSpeed_max                  28
WindSpeed_mean                 28
WindSpeed_min                  28
dtype: int64

In [19]:
weather_data = weather_data.fillna(0).copy()
weather_data.head()

        Date Region          area  ...  WindSpeed_max  WindSpeed_mean  WindSpeed_min
0 2005-01-01    NSW  8.002343e+05  ...       7.670482        3.323550       1.354448
1 2005-01-01     NT  1.357561e+06  ...       9.704402        5.296892       1.840394
2 2005-01-01     QL  1.730605e+06  ...       7.675632        3.483753       1.106028
3 2005-01-01     SA  9.913151e+05  ...      10.044715        4.657538       2.023657
4 2005-01-01     TA  6.778526e+04  ...      11.432408        5.408138       1.995647

[5 rows x 27 columns]

In [20]:
# Checking data types of each columns
weather_data.dtypes

Date                           datetime64[ns]
Region                                 object
area                                  float64
Precipitation_2nd_moment              float64
Precipitation_max                     float64
Precipitation_mean                    float64
Precipitation_min                     float64
RelativeHumidity_2nd_moment           float64
RelativeHumidity_max                  float64
RelativeHumidity_mean                 float64
RelativeHumidity_min                  float64
SoilWaterContent_2nd_moment           float64
SoilWaterContent_max                  float64
SoilWaterContent_mean                 float64
SoilWaterContent_min                  float64
SolarRadiation_2nd_moment             float64
SolarRadiation_max                    float64
SolarRadiation_mean                   float64
SolarRadiation_min                    float64
Temperature_2nd_moment                float64
Temperature_max                       float64
Temperature_mean                      float64
Temperature_min                       float64
WindSpeed_2nd_moment                  float64
WindSpeed_max                         float64
WindSpeed_mean                        float64
WindSpeed_min                         float64
dtype: object